<!doctype html>
<header>
    <div class="nav-container">
        <div class="left-container">
            <h1>Fantasy Football</h1>
        </div>
        <div class="center-container">
            <span class="nav-item">
                <a href="/">Home</a>
            </span>
            <span class="nav-item">
                <a href="/season">Season</a>
            </span>
            <span class="nav-item">
                <a href="/team">Team</a>
            </span>
            <span class="nav-item">
                <a href="/against">Against</a>
            </span>
            <span class="nav-item">
                <a href="/compare">Compare</a>
            </span>
            <span class="nav-item">
                <a href="/query">Query</a>
            </span>
        </div>
    </div>
</header>
<br>
<br>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">