<!doctype html>
<header>
    <h1>Fantasy Football</h1>
    <hr>
</header>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div>
    <form action="/" method="post">
        <label for="week">Week</label>
        <select id="week" name="week">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value="2">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select> 
    </form>
    <input type="text" id="searchInput" placeholder="Search for week, names or team..."/>
</div>

<table id="fantasyStats">
    <tr class="header">
        <th onclick="sortTableWeek(0)">Week</th>
        <th onclick="sortTableStr(1)">Name</th>
        <th onclick="sortTableStr(2)">Team</th>
        <th onclick="sortTableStr(3)">Against</th>
        <th onclick="sortTableStr(4)">Pos</th>
        <th onclick="sortTableNum(5)">PassYds</th>
        <th onclick="sortTableNum(6)">PassTD</th>
        <th onclick="sortTableNum(7)">PassInt</th>
        <th onclick="sortTableNum(8)">RushYds</th>
        <th onclick="sortTableNum(9)">RushTD</th>
        <th onclick="sortTableNum(10)">Rec</th>
        <th onclick="sortTableNum(11)">RecYds</th>
        <th onclick="sortTableNum(12)">RecTD</th>
        <th onclick="sortTableNum(13)">RetTD</th>
        <th onclick="sortTableNum(14)">FumTD</th>
        <th onclick="sortTableNum(15)">2PT</th>
        <th onclick="sortTableNum(16)">FumLost</th>
        <th onclick="sortTableNum(17)">Fantasy Points</th>
    </tr>
    {% for fantasy_score in fantasy_stats %}
    <tr>
        <td>{{ fantasy_score['Week'] }}</td>
        <td>{{ fantasy_score['Name'] }}</td>
        <td>{{ fantasy_score['Team'] }}</td>
        <td>{{ fantasy_score['Against'] }}</td>
        <td>{{ fantasy_score['Position'] }}</td>
        <td>{{ fantasy_score['Passing_yards'] }}</td>
        <td>{{ fantasy_score['Passing_tds'] }}</td>
        <td>{{ fantasy_score['Passing_int'] }}</td>
        <td>{{ fantasy_score['Rushing_yards'] }}</td>
        <td>{{ fantasy_score['Rushing_tds'] }}</td>
        <td>{{ fantasy_score['Receiving_rec'] }}</td>
        <td>{{ fantasy_score['Receiving_yards'] }}</td>
        <td>{{ fantasy_score['Receiving_tds'] }}</td>
        <td>{{ fantasy_score['Return_td'] }}</td>
        <td>{{ fantasy_score['Misc_fumtd'] }}</td>
        <td>{{ fantasy_score['Misc_2pt'] }}</td>
        <td>{{ fantasy_score['Fum_lost'] }}</td>
        <td>{{ fantasy_score['Fantasy_points'] }}</td>
    </tr> 
    {% endfor %}
</table>

<script src="{{ url_for('static', filename='js/fantasy.js') }}"></script>