<!doctype html>
<header>
    <div class="nav-container">
        <div class="left-container">
            <h1>Fantasy Football</h1>
        </div>
        <div class="center-container">
            <span class="nav-item">
                <a href="/">Home</a>
            </span>
            <span class="nav-item">
                <a href="/season">Season</a>
            </span>
            <span class="nav-item">
                <a href="/team">Team</a>
            </span>
            <form action="/" method="GET" id="form3">
                <input type="submit" id="home" name="home" value="Home"/>
            </form>
            <form action="/season" method="GET" id="form3">
                <input type="submit" id="season" name="season" value="Season"/>
            </form>
            <form action="/team" method="GET" id="form3">
                <input type="submit" id="team" name="team" value="Team"/>
            </form>
        </div>
    </div>
</header>
<br>
<br>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div>
    <form action="/" method="POST" id="form">
        <label for="week">Week</label>
        <select id="week" name="week">
            <option value="0">Season</option>
            <option value="1" disabled>1</option>
            <option value="2" diasbled>2</option>
            <option value="3" disabled>3</option>
            <option value="4" disabled>4</option>
            <option value="5" disabled>5</option>
            <option value="6" disabled>6</option>
            <option value="7" disabled>7</option>
            <option value="8" disabled>8</option>
            <option value="9" disabled>9</option>
            <option value="10" disabled>10</option>
        </select> 
        <label for="position">Position</label>
        <select id="position" name="position">
            <option value="0" disabled>All Positions</option>
            <option value="QB" disabled>QB</option>
            <option value="RB" disabled>RB</option>
            <option value="WR" disabled>WR</option>
            <option value="TE" disabled>TE</option>
        </select> 
        <input type="submit" value="Search">
    </form>
    <input type="text" id="searchInput" placeholder="Search by names..."/>
</div>

<table id="playerInfo" class="info">
    <tr class="header">
        <th>Name</th>
        <th>Team</th>
        <th>Pos</th>
        <th>Games Played</th>
    </tr>
    {% for fantasy_score in profile %}
    <tr>
        <td>{{ fantasy_score['Name'] }}</td>
        <td>{{ fantasy_score['Team'] }}</td>
        <td>{{ fantasy_score['Position'] }}</td>
        <td>{{ fantasy_score['Fantasy_points'] }}</td>
    </tr> 
    {% endfor %}

<table id="playerStats">
    <tr class="header">
        <th></th>     
        <th>PassYds</th>
        <th>PassTD</th>
        <th>PassInt</th>
        <th>RushYds</th>
        <th>RushTD</th>
        <th>Rec</th>
        <th>RecYds</th>
        <th>RecTD</th>
        <th>RetTD</th>
        <th>FumTD</th>
        <th>2PT</th>
        <th>FumLost</th>
        <th>Fantasy Points</th>
    </tr>
    {% for fantasy_score in player_sum %}
    <tr>
        <td class="left">2022 Totals</td>
        <td>{{ fantasy_score['Passing_yards'] }}</td>
        <td>{{ fantasy_score['Passing_tds'] }}</td>
        <td>{{ fantasy_score['Passing_int'] }}</td>
        <td>{{ fantasy_score['Rushing_yards'] }}</td>
        <td>{{ fantasy_score['Rushing_tds'] }}</td>
        <td>{{ fantasy_score['Receiving_rec'] }}</td>
        <td>{{ fantasy_score['Receiving_yards'] }}</td>
        <td>{{ fantasy_score['Receiving_tds'] }}</td>
        <td>{{ fantasy_score['Return_td'] }}</td>
        <td>{{ fantasy_score['Misc_fumtd'] }}</td>
        <td>{{ fantasy_score['Misc_2pt'] }}</td>
        <td>{{ fantasy_score['Fum_lost'] }}</td>
        <td>{{ fantasy_score['Fantasy_points'] }}</td>
    </tr> 
    {% endfor %}
    {% for fantasy_score in player_avg %}
    <tr>
        <td class="left">2022 Averages</td>
        <td>{{ fantasy_score['Passing_yards'] }}</td>
        <td>{{ fantasy_score['Passing_tds'] }}</td>
        <td>{{ fantasy_score['Passing_int'] }}</td>
        <td>{{ fantasy_score['Rushing_yards'] }}</td>
        <td>{{ fantasy_score['Rushing_tds'] }}</td>
        <td>{{ fantasy_score['Receiving_rec'] }}</td>
        <td>{{ fantasy_score['Receiving_yards'] }}</td>
        <td>{{ fantasy_score['Receiving_tds'] }}</td>
        <td>{{ fantasy_score['Return_td'] }}</td>
        <td>{{ fantasy_score['Misc_fumtd'] }}</td>
        <td>{{ fantasy_score['Misc_2pt'] }}</td>
        <td>{{ fantasy_score['Fum_lost'] }}</td>
        <td>{{ fantasy_score['Fantasy_points'] }}</td>
    </tr> 
    {% endfor %}
    {% for fantasy_score in player %}
    <tr>
        <td class="left">Week {{ fantasy_score['Week'] }}</td>
        <td>{{ fantasy_score['Passing_yards'] }}</td>
        <td>{{ fantasy_score['Passing_tds'] }}</td>
        <td>{{ fantasy_score['Passing_int'] }}</td>
        <td>{{ fantasy_score['Rushing_yards'] }}</td>
        <td>{{ fantasy_score['Rushing_tds'] }}</td>
        <td>{{ fantasy_score['Receiving_rec'] }}</td>
        <td>{{ fantasy_score['Receiving_yards'] }}</td>
        <td>{{ fantasy_score['Receiving_tds'] }}</td>
        <td>{{ fantasy_score['Return_td'] }}</td>
        <td>{{ fantasy_score['Misc_fumtd'] }}</td>
        <td>{{ fantasy_score['Misc_2pt'] }}</td>
        <td>{{ fantasy_score['Fum_lost'] }}</td>
        <td>{{ fantasy_score['Fantasy_points'] }}</td>
    </tr> 
    {% endfor %}
    {% for fantasy_score in point_sum %}
    <tr>
        <td class="left">2022 Total Point Distribution</td>
        <td>{{ fantasy_score['Passing_yards'] }}</td>
        <td>{{ fantasy_score['Passing_tds'] }}</td>
        <td>{{ fantasy_score['Passing_int'] }}</td>
        <td>{{ fantasy_score['Rushing_yards'] }}</td>
        <td>{{ fantasy_score['Rushing_tds'] }}</td>
        <td>{{ fantasy_score['Receiving_rec'] }}</td>
        <td>{{ fantasy_score['Receiving_yards'] }}</td>
        <td>{{ fantasy_score['Receiving_tds'] }}</td>
        <td>{{ fantasy_score['Return_td'] }}</td>
        <td>{{ fantasy_score['Misc_fumtd'] }}</td>
        <td>{{ fantasy_score['Misc_2pt'] }}</td>
        <td>{{ fantasy_score['Fum_lost'] }}</td>
        <td>{{ fantasy_score['Fantasy_points'] }}</td>
    </tr> 
    {% endfor %}
    {% for fantasy_score in point_avg %}
    <tr>
        <td class="left">2022 Average Point Distribution</td>
        <td>{{ fantasy_score['Passing_yards'] }}</td>
        <td>{{ fantasy_score['Passing_tds'] }}</td>
        <td>{{ fantasy_score['Passing_int'] }}</td>
        <td>{{ fantasy_score['Rushing_yards'] }}</td>
        <td>{{ fantasy_score['Rushing_tds'] }}</td>
        <td>{{ fantasy_score['Receiving_rec'] }}</td>
        <td>{{ fantasy_score['Receiving_yards'] }}</td>
        <td>{{ fantasy_score['Receiving_tds'] }}</td>
        <td>{{ fantasy_score['Return_td'] }}</td>
        <td>{{ fantasy_score['Misc_fumtd'] }}</td>
        <td>{{ fantasy_score['Misc_2pt'] }}</td>
        <td>{{ fantasy_score['Fum_lost'] }}</td>
        <td>{{ fantasy_score['Fantasy_points'] }}</td>
    </tr> 
    {% endfor %}
</table>

<table id="playerStats">
    <tr class="header">
        <th></th>     
        <th>Fantasy Points</th>
    </tr>
    {% for fantasy_score in player_min %}
    <tr>
        <td>2022 Min</td>
        <td>{{ fantasy_score['Fantasy_points'] }}</td>
    </tr> 
    {% endfor %}
    {% for fantasy_score in player_max %}
    <tr>
        <td>2022 Max</td>
        <td>{{ fantasy_score['Fantasy_points'] }}</td>
    </tr> 
    {% endfor %}
    {% for fantasy_score in thirtyplus %}
    <tr>
        <td>Number of 30+ point games</td>
        <td>{{ fantasy_score['Fantasy_points'] }}</td>
    </tr> 
    {% endfor %}
    {% for fantasy_score in twentyplus %}
    <tr>
        <td>Number of 20+ point games</td>
        <td>{{ fantasy_score['Fantasy_points'] }}</td>
    </tr> 
    {% endfor %}
</table>